body {
    font-family: "Geist", sans-serif;
}

.btn {
    background: #4A00FF;
    color: #fff;
    padding: 16px 25px;
    border-radius: 8px;
}
.btn-secondary {
    background: #4A00FF;
    color: #fff;
    padding: 8px 25px;
    border-radius: 8px;
}

.open-border {
    border-top: 5px solid #00A96E;
}
.closed-border {
    border-top: 5px solid #A855F7;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}


@import "tailwindcss"